/* DecadesGroups.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .decades {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
  
  .decade {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ffffff;
    margin: 5px 0;
    text-align: center;
    transition: background 0.2s;
    border-left: 1px solid #e0e0e0;
    padding-inline: 50px;
  }
  
  .decade:hover {
    background: #e0e0e0;
  }
  
  .groups {
    display: flex;
    flex-wrap: wrap;
  }
  
  .groupButton {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    transition: background 0.2s;
  }
  
  .groupButton:hover {
    background: #e0e0e0;
  }
  