.container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, #dfe3e3, rgb(232, 238, 238));
  }
  
  .header {
    background-color:transparent;
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
  }
  
  .navList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .navList li {
    margin: 0 20px;
    margin-top: 1rem;
  }

  .navList a {
    color: #5d7185;
    text-decoration: none;
    font-size: 20px;
    padding: 2px 20px;
    background-color: #ffffff;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* Add box-shadow to transition */
    box-shadow: 0 0 15px 1px rgba(74, 152, 162, 0.3); /* Increased blur on hover */
    font-family: 'PT Sans', sans-serif;
  }
  
  .navList a:hover {
    color: #ffffff;
    background-color: #5d7185;
    transform: scale(1.09); /* Scale up the element slightly */
    box-shadow: 0 0 8px 1px #5d7185; /* Initial subtle blur */
  }

  
  .mainContent {
    flex: 1;
    padding: 20px;
  }
  
  .footer {
    background-color: transparent;
    color: rgb(46, 46, 46);
    padding: 10px 20px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
  }
  