.commentLine {
    color: #f2bad2;
    font-style: italic;
  }
  
  .outerTagLine {
    color: rgb(129, 255, 255); 
  }
  
  .innerTagLine {
    color: #fff23a; 
  }

  .jsonKey {
    color: #ff75b3;  
  }
  
  .jsonValue {
    color: #f2f2f2;  
  }  
  
  .codeblock {
    max-width: 50%; 
    color: #ffedf3;
    margin-left: 20%; 
    padding: 12px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: #666c87;
    text-align: left; 
    justify-content: flex-start;
    font-family: 'Inconsolata', monospace;
    position: relative;
    overflow-x: auto; 
    white-space:pre-wrap;
  }
  
  @media screen and (max-width: 480px) {
    .codeblock {
      max-width: 95%; 
      margin-left: 0;
    }
  }
    
  
  .copyButton {
    background-color: transparent; 
    border: none; 
    width: 42px; 
    height: 42px;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.1s, width 0.1s, height 0.1s; 
  }
  
  .copyButton:hover {
    opacity: 1; 
    width: 45px; 
    height: 45px;
    cursor: copy;
  }
  
  
  .copyButton img {
    width: 100%; 
    height: 100%;
  }
  
  @media screen and (max-width: 480px) {
    .copyButton {
        right: 5px;
        top: 5px;
        width: 35px; 
        height: 35px;
    }
  }