@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;900&display=swap');

.datastorycontainer {
  max-width: 2000px;
  margin: 0 auto; 
  padding: 0 20px; 
}

@media screen and (max-width: 480px) {
  .datastorycontainer {
      padding: 0 10px; 
  }
}


.title {
    font-size: 4rem; 
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px; 
    font-variation-settings: 'wght' 800;
    background: linear-gradient(to right, #ff397b, #ffba4c);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: -0.03em;
}

.subtitle {
  font-size: 3rem; 
  font-family: 'JetBrains Mono', monospace;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px; 
  font-variation-settings: 'wght' 800;
  background: linear-gradient(to right, #ff397b, #ffba4c);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: -0.03em;
}

.thirdtitle {
  text-align: left;
  margin: 0 auto; 
  max-width: 60%;
  font-size: 2rem; 
  font-family: 'JetBrains Mono', monospace;
  margin-top: 20px;
  margin-bottom: 20px; 
  font-variation-settings: 'wght' 800;
  color:#424242;
  letter-spacing: -0.03em;
}


.paragraph {
    max-width: 60%;  
    margin: 0 auto; 
    font-family: 'JetBrains Mono', monospace;
}

.paragraph b, 
.paragraph strong { 
    font-weight: 800; 
}

.hint {
  width: fit-content; 
  max-width: 60%; 
  color: #ff397b;
  margin-left: 20%; 
  padding: 12px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 3px solid hsl(339, 100%, 89%);
  border-radius: 5px;
  background-color: #fff8f8;
  text-align: left; 
  justify-content: flex-start;
  padding-left: 45px; 
  background-image: url('/images/svg/hint.svg');
  background-position: left center;
  background-position-x: 10px;
  background-repeat: no-repeat;
  background-size: 26px 26px;
}

@media screen and (max-width: 480px) {
  .hint {
      max-width: 95%; 
      margin-left: 0;
  }
}

.leaflet-container {
    z-index: 900 !important; 
  }
  

@media screen and (max-width: 768px) {
    .paragraph {
        max-width: 85%; 
    }
}

@media screen and (max-width: 480px) {
    .paragraph {
        max-width: 95%; 
    }
}

@keyframes moveUpDown {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }
  
  .finger-animation {
    animation: moveUpDown 1s infinite;
  }

.contextContainer {
    position: absolute;
    top: 30vh;
    max-width: 40%;
    z-index: 2000;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 5px;
    overflow-y: auto;
    transition: left 0.5s;
  }
  
  .contextContainerHidden {
    left: -45%;
  }
  
  .contextContainerVisible {
    left: 20px;
  }
  
  .learnMoreButton {
    display: inline-block;
    padding: 8px 16px;
    background-color: #ffba4c; 
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .learnMoreButton:hover {
    background-color: #ff397b; 
  }
  