@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;900&display=swap');

.datastorycontainer {
  max-width: 2000px;
  margin: 0 auto; 
  padding: 0 20px; 
}

@media screen and (max-width: 480px) {
  .datastorycontainer {
      padding: 0 10px; 
  }
}

.title {
    font-size: 4rem; 
    font-family: 'Roboto Slab', serif;
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 80px; 
    font-variation-settings: 'wght' 900;
    background: linear-gradient(to right, #ff397b, #ffba4c);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.subtitle {
  font-size: 2.7rem; 
  font-family: 'Roboto Slab', serif;
  text-align: left;
  margin: 0 auto;
  max-width: 60%;
  margin-top: 20px;
  margin-bottom: 20px; 
  font-variation-settings: 'wght' 900;
  -webkit-background-clip: text;
  background-clip: text;
  color: #424242;
  letter-spacing: -0.03em;
}

.thirdtitle {
  text-align: left;
  margin: 0 auto; 
  max-width: 60%;
  font-size: 2rem; 
  font-family: 'Roboto Slab', serif;
  margin-top: 20px;
  margin-bottom: 20px; 
  font-variation-settings: 'wght' 900;
  color:#424242;
  letter-spacing: -0.03em;
}


.paragraph {
    max-width: 60%;  
    margin: 0 auto; 
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    color: #414141;
    }

.paragraph b, 
.paragraph strong { 
    font-weight: 900; 
}

.hint {
  width: fit-content; 
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  max-width: 60%; 
  color: #ffba4c;
  margin-left: 20%; 
  padding: 12px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 3px solid #ffba4c;
  border-radius: 5px;
  background-color: #fffefe;
  text-align: left; 
  justify-content: flex-start;
  padding-left: 45px; 
  background-image: url('/images/svg/hint.svg');
  background-position: left center;
  background-position-x: 10px;
  background-repeat: no-repeat;
  background-size: 26px 26px;
}

@media screen and (max-width: 480px) {
  .hint {
      max-width: 95%; 
      margin-left: 0;
  }
}

.leaflet-container {
    z-index: 900 !important; 
  }
  

@media screen and (max-width: 768px) {
    .paragraph {
        max-width: 85%; 
    }
    .title{
      max-width: 100%;
      font-size: 50px;
    }  
    .subtitle{
      max-width: 100%;
      font-size: 35px;
      text-align: left;
    }
}

@media screen and (max-width: 480px) {
    .paragraph {
        max-width: 95%; 
    }
}

@keyframes moveUpDown {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }
  
  .finger-animation {
    animation: moveUpDown 1s infinite;
  }

.contextContainer {
    position: absolute;
    top: 30vh;
    max-width: 40%;
    z-index: 2000;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 5px;
    overflow-y: auto;
    transition: left 0.5s;
  }
  
  .contextContainerHidden {
    left: -45%;
  }
  
  .contextContainerVisible {
    left: 20px;
  }

  .docButton {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-bottom: 2rem;
    padding: 8px 16px;
    position: relative;
    justify-items: center;
    text-align: center;
    color: #FFFFFF;
    background-color: #666c87;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 900;
    transition: background-color 0.3s;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}

  .docButton:hover {
    background-color: #1a1a1a;
}

.data-link {
  display: block;
  margin-top: 20px;
  padding: 8px 16px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF;
  border: none;
  background-color: #ffba4c;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 800;
  transition: background-color 0.3s;
  font-family: 'JetBrains Mono';
  font-size: 20px;
  width: fit-content;
}

.data-link:hover {
  background-color: #ff397b;
}