@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;800&family=Share+Tech+Mono&display=swap');

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.viz-title {
  font-variation-settings: 'wght' 850;
  font-size: 40px;
  color: rgb(98, 98, 98);
  font-family: 'JetBrains Mono';
  font-weight: 800;
  text-align: center;
}

.container {
  margin: 1rem 0;
  background-color: #fff;
  margin-right: auto;
  margin-left: auto;
  width: 95%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; 

}

.dataviz-description {
  color: #666;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 20px;
}

.dataviz-visualization {
    width: 70%;
    max-height: 600px;
    overflow: hidden;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
  }

  .data-link {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    text-align: center;
    color: #FFFFFF;
    background-color: #1d1d1d;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s;
}

.data-link:hover {
    background-color: #ffc900;
}