@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;900&display=swap');

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.viz-title {
  font-variation-settings: 'wght' 850;
  font-size: 40px;
  color: rgb(98, 98, 98);
  font-family: 'Roboto Slab', serif;
  font-weight: 900;
  text-align: center;
}

.container {
  margin: 1rem 0;
  background-color: #ffffff;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; 

}

.dataviz-description {
  color: #666;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

.dataviz-visualization {
    width: 85%;
    max-height: 800px;
    overflow: hidden;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
  }

  .data-link {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    text-align: center;
    color: #FFFFFF;
    background-color: #ffba4c;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 800;
    transition: background-color 0.3s;
    font-family: 'JetBrains Mono';
    font-size: 20px;
}

.data-link:hover {
    background-color: #ff397b;
}
