@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;900&display=swap');

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 0px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background: linear-gradient(45deg, #ff71a0, #ffcd7c);
}

.logo {
    max-height: 80px;
}

.navLink {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 24px;
}

.navLink:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

.mainContent {
    margin-top: 0px;
}
