@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}


body {
  font-family: 'JetBrains Mono', monospace ;
  -webkit-font-smoothing: subpixel-antialiased;
  font-feature-settings: 'case' 1, 'cpsp' 1, 'dlig' 1, 'cv01' 1, 'cv02',
    'cv03' 1, 'cv04' 1;
  font-variation-settings: 'wght' 450;
  font-variant: common-ligatures contextual;
  letter-spacing: 0.0em;
}
b,
strong,
h3,
h4,
h5,
h6 {
  font-variation-settings: 'wght' 800;
}
h1 {
  font-size: 45px;
  font-variation-settings: 'wght' 800;
  font-family: 'JetBrains Mono', monospace;
}
h2 {
  font-variation-settings: 'wght' 400;
}

@media screen and (min-device-pixel-ratio: 1.5),
  screen and (min-resolution: 1.5dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

details summary {
  cursor: pointer;
}

img.next-image {
  margin: 0;
}

.prose a {
  color: #0074de;
}

.nav-line .nav-link {
  color: #69778c;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 0rem;
}

.title {
  text-align: center;
  color: #333;
  font-size: 2rem;
  margin-top: 2rem;
}